.App {
  background-color: white;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
  font-family: 'Merriweather',serif;
  color: black;
}

.body {
  overflow-x: hidden;
}
.navbar {
  background-color: #9e2118;
}
.navbar-start {
  margin-top: -0.5%;
  margin-bottom: -0.5%;
}
.navbar li {
  padding: 5px;
}

.home {
  width: 100%;
  gap: 10px;
  padding: 15px;
}
.news{
  width: 100%;
}
.teens {
  width: 75%;
}
.side {
  width: 25%;
}

.homepage {
  justify-content: space-bewteen;
  margin-right: -5%;
}

hr {
  border-color: gray;
}

.footer {
  background-color: rgb(107,0,0) !important;
}

.cardho:hover {
  transform: scale(1.05);
}

.active {
  background-color:#87140c !important;
  padding: 1rem;
  color: black;
}
.inactive {
  padding: 1rem;
  color: black;
}

.navd {
  background-color: #9e2117 !important;
}

.btn-primary {
  background-color: #87140c !important;
}

.cardside {
  background-color: #d39894 !important;
}

.main:hover {
  text-decoration: underline !important;
}